$red: #f03d37;
$blue: #3ca0e6;
$yellow: #faaf00;
$backgroundColor: #f5f5f5;
$lineColor: #e8e8e8;
$textColor: #333;
$textColorLight: #666;

html {
  font-size: 62.5%;
}

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:hover{
      outline: none;
  }
}

