@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin button($width, $height) {
  width: $width;
  height: $height;
}

@mixin radiusButton($width, $height, $radius) {
  @include button($width, $height);
  @include borderRadius($radius);
}

@mixin animation($animationName, $duration) {
  animation: $animationName $duration;
  -moz-animation: $animationName $duration;	/* Firefox */
  -webkit-animation: $animationName $duration;	/* Safari 和 Chrome */
  -o-animation: $animationName $duration;
}

@mixin transition($prop, $duration) {
  transition: $prop $duration;
  -moz-transition: $prop $duration;
  -webkit-transition: $prop $duration;
  -o-transition: $prop $duration;
}
